encryption = "gpg"

[data]
    email = "joshuaghent@bpp.com"
    name = "Josh Ghent"
    machine_type = "work"

[data.gpg]
    create_key = true
    key_type = "ed25519"
    key_length = 4096
    expire_days = 0

[edit]
    command = "nvim"
