#!/bin/bash

# usage generate_favicon /logo/image.png
generate_favicon() {
  magick convert -resize x16 -gravity center -crop 16x16+0+0 "$1" -flatten -colors 256 -background transparent "$PWD/favicon.ico"
}

npminit() {
  mkdir -p $1
  cd $1
  git init
  npm init -y
  npm i -s typescript
  open -a "Google Chrome" https://github.com/new/
  npx gitignore node
  git add -A
  git commit -m "Initial Commit"
  echo "Please update the remote and then push the code"
}

uuid(){
  uuidvar=$(npx uuid)
  echo $uuidvar
  echo $uuidvar | tr -d '\n' | pbcopy
}

gh_actions(){
    mkdir .github
    mkdir .github/workflows
    touch .github/workflows/deploy.yml
    touch .github/workflows/test.yml
    echo "Done"
}

notify(){
    title="$1"
    message="$2"
    /usr/bin/osascript -e "display notification \"$message\" with title \"$title\" sound name \"Hero\""
}

plan(){
    filename="$(date '+%Y-%m-%d')"
    vim ~/projects/notes/plans/$filename.md
}
