# Node
npm-debug.log

# Mac
.DS_Store

# Windows
Thumbs.db

# WebStorm
.idea/

# vi
*~

# General
log/
*.log

.vscode
.config/chezmoi/chezmoi.toml
private_gpg_key_id
manual_installs.txt
.chezmoi.toml.tmpl
