#!/bin/bash
{{ if eq .chezmoi.os "darwin" -}}

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ if .casks_enabled -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
EOF
{{ else -}}
echo "Skipping: not on Darwin (macOS)"
{{ end -}}
